<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
				    <a class="btn-floating btn-large red">
				      <i class="large mdi-navigation-menu"></i>
				    </a>
				    <ul>
				      <li><a class="btn-floating blue tooltipped" data-position="top" data-delay="50" data-tooltip="Add new drama" href="<%= new_user_drama_path(@user) %>"><i class="material-icons">add</i></a></li>
				      <li><a class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Update all" href="#" id="up_all_btn"><i class="material-icons">loop</i></a></li>
				    </ul>
</div>