<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text footer-title">Drama Scraper</h5>
      <p class="grey-text text-lighten-4">Get information about all new episodes with just one click.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Paste links from:</h5>
      <ul>
        <li>
          <a class="grey-text text-lighten-3" href="http://myasiantv.se/">MyAsianTv</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div id="copy" class="container">
    © 2016 Paweł Targoński
  </div>
</div>
