<div class="card-panel blue darken-2 animated bounceInRight">
          <span class="white-text">
          <h3>Hi!</h3>
          <% if @dramas.any? %>
          <p class="flow-text">Currently you are watching <%= @titles.to_sentence %>. 
          Last update was <%= time_ago_in_words @last_update %> ago.</p>
          <% else %>
          <p>You can start by pasting some URL.</p>
          <% end %>
          </span>
           <%= link_to "Add new", new_drama_path, class: "waves-effect waves-light btn-large  blue lighten-3 text-darken-2 add_new_btn" %>
 </div>
