<% if notice.present? %>
<p id="notice" class="chip animated rubberBand"><%= notice %><i class="material-icons">close</i></p>
<% end %>

 <div class="row">
        <div class="col s10 m7">
          <%= render 'summary_card' %>
          <%= render 'drama_card' %>
        </div>
</div>