<% if notice.present? %>
<p id="notice" class="chip animated rubberBand"><%= notice %><i class="material-icons">close</i></p>
<% end %>
    <div id="dramas" class="transitions-enabled">
      <%= render 'summary_card' %>
      <%= render 'drama_card' %>	
    </div>

      <%= render 'floating_btns' %>