<div class="card-panel">
	<h2 class="flow-text">New Drama</h2>
	<br>
	<p>Currently you can only paste urls from <strong>http://myasiantv.se/</strong>.</p>
	<p>Following formats will be accepted:</p>
	<blockquote>
	      <p>http://myasiantv.se/movie/some-movie/</p>
	      <p>http://myasiantv.se/drama/some-drama/</p>
	</blockquote>
	<br>

	<%= render 'form' %>		
</div>

